

.images{
    height: 50vh;
    justify-content: center;
    align-items: center;
}
.card{
    background: #565c64;
    margin: 5px;
}

.card-wrapper{
    justify-content: space-between;
    margin:1rem;
}

.card-description {
    margin-top: 1rem;
    display:flex;
    justify-content: space-evenly;
    list-style: none;

}

